<mat-card class="table_container">

  <form class="reg-form">
    <h3 style="text-align: center"> Add Client </h3>

    <div class="row justify-content-center">
      <div class="col-3">
        <mat-form-field class="reg-full-width">
          <input matInput placeholder="Title">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="reg-full-width">
          <input matInput placeholder="Initials">
        </mat-form-field>
      </div>
      <div class="col-6">
      <mat-form-field class="reg-full-width">
        <input matInput placeholder="Surname">
      </mat-form-field>
      </div>

      <mat-form-field class="reg-full-width">
        <input matInput placeholder="Address1">
      </mat-form-field>

      <mat-form-field class="reg-full-width">
        <input matInput placeholder="Address2">
      </mat-form-field>
   

    <mat-form-field class="reg-full-width">
      <input matInput placeholder="Town">
    </mat-form-field>

    <mat-form-field class="reg-full-width">
      <input matInput placeholder="Code">
    </mat-form-field>
  </div>

    <br>
    <div class="row justify-content-start">
      <button mat-raised-button color="accent">Add</button>&nbsp;
      <button mat-raised-button color="primary">Edit</button>
    </div>

  </form>
</mat-card><!-- Container-->