@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-raised-button {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important; 
    transition: all 0.3s !important; 
}
.mat-raised-button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    transition: all 0.3s !important;
    transform: translateZ(10px) !important;
}