<mat-card class="table_container">
  <div class="row justify-content-center">  
      <form class="login-form">

        <div class="row justify-content-center"> 
        <h3>Login</h3>
        </div> 

        <mat-form-field class="login-details">
          <input matInput placeholder="Username" value="">
        </mat-form-field>
        <mat-form-field class="login-details">
          <input matInput type="password" placeholder="Password" value="">
        </mat-form-field>
        
        <div class="row justify-content-center"> 
        <button mat-raised-button color="primary">Login</button>
        </div>
      
      </form>
  </div>
</mat-card>