<div class="container">
  <div class="row justify-content-center">
    <form class="reg-form">
      <h3 style="text-align: center"> Register </h3>

      <mat-form-field class="reg-full-width">
        <input matInput placeholder="Full Name">
      </mat-form-field>
      <mat-form-field class="reg-full-width">
        <input matInput type="password" placeholder="Enter Password">
      </mat-form-field>
      <mat-form-field class="reg-full-width">
        <input matInput type="password" placeholder="Confirm Password">
      </mat-form-field>
      <div class="row justify-content-center">
        <button mat-raised-button color="primary">Register</button>
      </div>
    </form>
  </div>
</div>