<mat-card class="table_container">
  <form class="reg-form">
      <h3 style="text-align: center">Register </h3>
    <div class="row justify-content-center">      
      <div class="row justify-content-center">
        
          <mat-form-field class="reg-full-width">
            <input matInput placeholder="User Name">
          </mat-form-field>

          <mat-form-field class="reg-full-width">
            <mat-select placeholder="Select Access">
              <mat-option value="option">Admin</mat-option>
              <mat-option value="option">Emp</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field class="reg-full-width">
            <input matInput type="password" placeholder="Enter Password">
          </mat-form-field>
        
          <mat-form-field class="reg-full-width">
            <input matInput type="password" placeholder="Confirm Password">
          </mat-form-field>
        
      </div>
    </div>
      <div class="row justify-content-center">
        <button mat-raised-button color="primary">Register</button> &nbsp;
        <button mat-raised-button color="primary" routerLink="/clientNew">Add Client</button>
      </div>
 
  </form>
</mat-card><!-- Container-->